div{
    text-align: center;
    font-weight: bold;
    font-size: xx-large;
    color: aqua;
}
h1{
    text-align: center;
    border-radius: 10px;
    color: blue;
    background-color: aliceblue;
    font-weight: bold;
}
h2{
    text-align: center;
    color: blue;
    font-size: xx-large;
    font-weight: bold;
}
h3{
    text-align: center;
    color:blue ;
    font-size: xx-large;
    font-weight: bold;
}
p{
    text-align: center;
    font-size: 40px;
    font-weight: bold;
}
body{
   background-color: aquamarine;
}

footer{
    background-color: blue;
    padding: 70px 0;
}

h4{
    color:blue;
    text-align: center;
    font-weight: bold;
}
.footer{
    color: blue;
}




