#about-section{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    
}
.about-right{
    width: 57%;
}
ul{
    display: flex;
    align-items: center;
}
li{
    display: flex;
    align-items: center;
}
h1{
    color: orange;
    font-size: 37px;
    margin-bottom: 5px;
}
p{
    color: black;
    line-height: 26px;
    font-size: 15px;
}
.address-logo{
    margin: 25px 0;
    color: orange;
}
h5{
    color: orange;
    cursor: pointer;
}
    
body{
    background-color: wheat;
    
    
}